@import 'tailwindcss';

@theme inline {
  /* Backgrounds */
  --color-bg-dark: #141414;
  --color-bg-light: #f0ece1;

  /* Destaque */
  --color-accent: #f5c800;

  /* Texto */
  --color-text-on-dark: #f0ece1;
  --color-text-on-light: #0a0a0a;

  /* Tipografia — conecta com as variáveis CSS que o next/font injeta */
  --font-sans: var(--font-archivo-narrow);
  --font-mono: var(--font-jetbrains-mono);
}
